@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto-serif: "Roboto Serif", serif;
}

:root {
  --color-dark: #030c02;
  --color-light: #f6fdf5;
  --color-green: #4c6e4a;
  --color-blue: #91cfe1;
  --color-orange: #cc5500;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", "Poppins", "Segoe UI", sans-serif;
  background-color: var(--color-light);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
